---
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
IncludeCategories:
  - Regex:           '^<.*\.h(pp)?>'
    Priority:        1
    SortPriority:    2
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    1
  - Regex:           '.*'
    Priority:        3
...
